{% extends "container.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <h2>{% trans "Localización" %}</h2>
    <iframe src="https://www.google.com/maps/d/embed?mid=1f-oUbpVJmYy0dqo_WB4cF9BDEFY" class="location-map"></iframe>
    <p>
        {% blocktrans %}
            El evento se realizará en el <strong>SITIO POR DETERMINAR</strong> que está situado a X minutos
            a pie del centro Guadalajara. Al estar dentro de la ciudad, hay multitud de <a href="#todo">hoteles, pensiones</a>,
            <a href="#todo">restaurantes</a> y bares en los alrededores.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans %}
            <strong>El taller de las Django girls se realizarán en el sabado en el "SITIO POR DETERMINAR"</strong>.
        {% endblocktrans %}
    </p>

    <div class="row">
        <div class="col-md-8 offset-md-2"><img src="{% static "images/palacion_infantado.jpg" %}" class="img-fluid" alt=""></div>
    </div>
    <br>

    <p>
        {% blocktrans %}
            Tanto el auditorio como las tres salas adicionales en las que tendrán lugar las charlas están equipadas con
            butacas y son accesibles para personas con movilidad reducida.
        {% endblocktrans %}
    </p>

    {% blocktrans %}
        El horario previsto será el siguiente (aproximadamente):
    {% endblocktrans %}

    <ul>
        <li>
            {% blocktrans %}
                Sábado 14/04/18 de 8:30 a 19:30 (Taller de las Django Girls).
            {% endblocktrans %}
        </li>
        <li>
            {% blocktrans %}
                Domingo 15/04/18 de 9:00 a 18:30 (PyDay Guadalajara).
            {% endblocktrans %}
        </li>
    </ul>

    <p>
        {% blocktrans %}
            *Para mas informacion sobre horarios de las Django Girls visita la <a href="https://djangogirls.org/guadalajara/">web oficial</a>.
        {% endblocktrans %}
    </p>


    <h2>{% trans "Como llegar a Guadalajara" %}</h2>
    <p>
        {% blocktrans %}
            El aeropuerto mejor conectado con Guadalajara es el de Madrid-Barajas (40 minutos en coche).
        {% endblocktrans %}
    </p>

    <h4>
        {% blocktrans %}
            Desde Madrid
        {% endblocktrans %}
    </h4>
    <p>
        {% blocktrans %}
            Autobuses cada media hora desde Avenida de America <a href="http://www.avanzabus.com/" target="blank">www.avanzabus.com</a> o <a href="https://www.alsa.es/" target="blank">www.alsa.es</a><br>
            Trenes de cercanias cada media hora desde Atocha Renfe. <br />
            En coche, salida 55 de la carretera nacional 2.
        {% endblocktrans %}
    </p>

    <h4>
        {% blocktrans %}
            Desde Barcelona
        {% endblocktrans %}
    </h4>
    <p>
        {% blocktrans %}
            Ave hasta Guadalajara/Yebes + Taxi hasta la ciudad de Guadalajara.<br />
            En coche, salida 55 de la carretera nacional 2.
        {% endblocktrans %}
    </p>
    <h4>
        {% blocktrans %}
            Desde cualquier otra parte
        {% endblocktrans %}
    </h4>
    <p>
        {% blocktrans %}
            En coche, salida 55 de la carretera nacional 2.
        {% endblocktrans %}
    </p>

<h2>{% trans 'Turismo' %}</h2>
     <p>
    {% blocktrans %}
        Guadalajara es una ciudad historica y con gran patrimonio cultural y
        arquitectonico. Si tienes tiempo, no desaproveches la oportunidad de
        conocerla a fondo. Para ayudarte aquí tienes la
        <a href="http://www.guadalajara.es/recursos/doc/NUEVO_Turismo/Publicaciones/7069_191191201674746.pdf">
        guia turistica de la ciudad</a>
    {% endblocktrans %}
    </p>
<iframe width="80%" height="315" src="https://www.youtube.com/embed/75UU1aEzm8c" frameborder="0" allowfullscreen></iframe>

    <h4>
        {%trans 'Explora Guadalajara' %}
    </h4>
<ul>
        {% blocktrans %}
<li><a href="http://turismoenguadalajara.es/">¿Que ver en la provincía de Guadalajara?</a></li>
<li><a href="http://www.guadalajara.es/es/Turismo/Turismo-Oficina-de-Gestion">Oficina de turismo</a></li>
<li><a href="http://www.ayto-caceres.es/turismo/conoce-caceres/">Conoce Cáceres</a></li>
<li><a href="http://www.ceoeguadalajara.es/documentacion/turismo/Plano%20Guadalajara%20Capital%20%28Consejer%EDa%20de%20Turismo%20de%20la%20JCCM%29.pdf">Plano turisitico de Guadalajara Ciudad</a></li>
        {% endblocktrans %}
</ul>


    <h2>{% trans "Código de conducta" %}</h2>
    <p class="loud">
        {% blocktrans %}
            PyDay Guadalajara aspira a crear un ambiente libre de acosos o discriminaciones por razón de género, orientación
            sexual,
            discapacidad, aspecto físico, etnia o religión. No se tolerará discriminación alguna bajo ninguna
            circunstancia.
        {% endblocktrans %}
    </p>
    <p class="loud">
        {% blocktrans %}
            Todo el contenido de la conferencia deberá ajustarse a una audiencia profesional integrada por personas
            procedentes de sectores diferentes. Tanto el lenguaje como las imágenes sexualmente explícitos son
            inapropiados
            en la conferencia y en las charlas.
        {% endblocktrans %}
    </p>
    <p class="loud">
        {% blocktrans %}
            Sé amable con los demás. No insultes o humilles a otros asistentes. Compórtate de manera profesional.
            Recuerda
            que las bromas sexistas, racistas o discriminatorias están prohibidas en la PyDay Guadalajara.
        {% endblocktrans %}
    </p>
    <p class="loud">
        {% blocktrans %}
            Los asistentes que incumplan estas reglas podrán -a discreción de los organizadores- ser sancionados o
            expulsados de la conferencia sin derecho a reembolso.
        {% endblocktrans %}
    </p>
    <p class="loud">
        {% blocktrans %}
            Gracias por ayudarnos a hacer este evento amistoso y abierto para todos.
        {% endblocktrans %}
    </p>
    <a href="{% url "code-of-conduct" %}">{% trans "Código de Conducta Completo" %}</a>

{% endblock content %}
