#header {
    background: #4d004c;
    color: #eee;
}

div.breadcrumbs {
    background: #b366b2;
    color: #444;
}
div.breadcrumbs a {
  color: #777;
}
div.breadcrumbs a:hover {
  color: #888;
}

a:link, a:visited {
    color: #81007f;
}

#branding h1 a, #branding h1 a:visited {
    color: #eee;
}

.module h2, .module caption, .inline-group h2 {
    background: #81007f;
    color: #fff;
}
